<footer>
    <section>
        <div class="somos">
            <div>
                <h2>QUIENES SOMOS</h2>
                <input type="checkbox" id="check" class="somos_chk" onchange="document.querySelector('.somos').classList.toggle('active', this.checked)">
                <label class="footer-dropdown" for="check"></label>
            </div>
            <ul class="somos_content">
                <li><a href="../pages/nosotros.html">Nosotros</a></li>
                <li><a href="">Horarios</a></li>
                <li><a href="../pages/ubicacion.html">Ubicación</a></li>
            </ul>    
        </div>
        <div class="nosotros">
            <div>
                <h2>ACERCA DE NOSOTROS</h2>
                <input type="checkbox" id="check1" onchange="document.querySelector('.nosotros').classList.toggle('active', this.checked)">
                <label class="footer-dropdown" for="check1"></label>
            </div>
            <ul class="nosotros_content">
                <li><a href="../pages/testimonios.html">Testimonios</a></li>
                <li><a href="../pages/contactanos.html">Contáctanos</a></li>
                <li><a href="../pages/nuestroequipo.html">Nuestro Equipo</a></li>
            </ul>
        </div>
        <div class="redes_sociales">
            <div>
                <h2>REDES SOCIALES</h2>
                <input type="checkbox" id="check2" onchange="document.querySelector('.redes_sociales').classList.toggle('active', this.checked)">
                <label class="footer-dropdown" for="check2"></label>
            </div>
            <ul class="redes_sociales_content">
                <li><a href="https://www.facebook.com/" target="_blank"><img src="../../img/facebook.svg" alt="facebook"></a></li>
                <li><a href="https://www.instagram.com/benditoverdehn/" target="_blank"><img src="../../img/instagram.svg" alt="instagram"></a></li>
                <li><a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><img src="../../img/whatsapp.svg" alt="whatsapp"></a></li>
            </ul>
        </div>
    </section>
    <h2>© 2024 Bendito Verde HN</h2>
</footer>

