<div class="imagenes">
    {{#each imagenes}}
        <div class="galeriaitem">
            <figure class="gallery-item">
                <img src="{{url}}" alt="{{titulo}}">
                <figcaption>{{titulo}}</figcaption>
            </figure>
        </div>      
    {{/each}}
</div>