<div class="table">
    {{#each deportes}}
    <div class="row">
        <div class="col">
            <p>{{Nombre}}</p>
        </div>
        <div class="col">
            <p>{{Descripcion}}</p>
        </div>
        <div class="col">
            <p>{{Requiere}}</p>
        </div>
        <div class="col">
            <p>{{Ranking}}</p>
        </div>
    </div>
    {{/each}}
</div>